*.abcl
*.fasl
*.dx32fsl
*.dx64fsl
*.lx32fsl
*.lx64fsl
*.x86f
*~
.#*
.*.sw[a-z]

/lighttpd-environment/wwwroot
/lighttpd-environment/test-data
/lighttpd-environment/lighttpd
/.repl/ros_history

/.qlot/
